body {
  font-family: 'Cinzel', serif;
  color: #2c3e50;
  background-color: gold;
  transition: all 0.5s ease;
}

[data-theme="dark"] {
  background-color: purple;
  color: #ecf0f1;
}

/* Navigation Bar */
.navbar {
  background-color: gold;
  padding: 10px;
  border-bottom: 2px solid #34495e;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.navbar li a {
  text-decoration: none;
  color: gold;
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar li a:hover {
  color: #e74c3c;
}

/* Buttons */
button {
  background-color: #2980b9;
  color: gold;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #e74c3c;
}

/* Dark Mode Switch */
.dark-mode-switch {
  background-color: #2980b9;
  color: gold;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
}

/* Advice Component */
.advice-container {
  background-color: #d35400;
  color: white;
  border: 2px solid gold;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2rem;
  margin: 20px 0;
}

/* Health Counter */
.health-counter-container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  font-size: 1.2rem;
}

.health-counter-container button {
  margin: 0 10px;
}

/* Character Container */
.Chr {
  border: 2px solid #34495e;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: gold;
  text-align: center;
  box-shadow: 0px 0px 10px #34495e;
}

/* Dice Component */
.D20 {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  color: gold;
  text-align: center;
}

/* Miscellaneous */
h1, h3, h4, h5, h6 {
  font-family: 'Cinzel', serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h2 {
  color: white;
}

.Loot {
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
  line-height: 1.5;
}
